body {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
}

div {
    border: 1px solid black;
    font-size: 24px;
    text-shadow: 0 0 3px grey;
    text-align: center;
}

.white {
    background: #FFCF73;
}

.black {
    background: #7a5000;
}
